<section id="edit-post">
  <div id="dashboard-header">
    <h2 id="dashboard-title">Edit</h2>
  </div>
  <form action="/api/dashboard/:id" method="put" id="edit-form">
    <div id="post-title" class="form-div">
      <label for="title">Post Title</label>
      <input type="text" name="title" id="title" value="{{post.title}}">
    </div>
    <div id="post-summary" class="form-div">
      <label for="summary">Post Summary</label>
      <input type="text" name="summary" id="summary" value="{{post.summary}}">
    </div>
    <div id="post-content" class="form-div">
      <label for="content">Full Post Content</label>
      <textarea name="content" id="content" cols="30" rows="40">{{post.content}}</textarea>
    </div>
  </form>
  <div class="form-div">
    <button type="submit" form="edit-form">Save Change</button>
    <form action="/api/dashboard/:id" method="delete" id="delete-form" class="hidden"></form>
    <button type="submit" form="delete-form" id="btn-delete">Delete Post</button>
  </div>
</section>