<section id="homepage" onclick="closeModals('homepage')">
  {{#each posts as |post|}}
    <article>
      <h2>{{post.title}}</h2>
      <span>Posted by {{post.user.name}} on {{format_date post.createdAt}}</span>
      <p>{{post.summary}}</p>
    </article>
  {{/each}}
</section>

<section id="modal-login" class="modal hidden">
  <div class="modal-content">
    <h2>Login</h2>
    <form action="">
      <div class="form-div">
        <label for="login-email">Email:</label>
        <input type="email" name="login-email" id="login-email">
      </div>
      <div class="form-div">
        <label for="login-password">Password:</label>
        <input type="password" name="login-password" id="login-password">
      </div>
      <div class="form-div form-div-submit">
        <button type="submit" class="form-btn">login</button>
      </div>
    </form>
    <div class="footer">
      <h3>Not a member yet?</h3>
      <a href="#" onclick="openModal('modal-signup', 'homepage')">Create an account now.</a>
    </div>
  </div>
</section>

<section id="modal-signup" class="modal hidden">
  <div class="modal-content">
    <h2>Register</h2>
    <form action="">
      <div class="form-div">
        <label for="register-username">Username:</label>
        <input type="text" name="register-username" id="register-username">
      </div>
      <div class="form-div">
        <label for="register-email">Email:</label>
        <input type="email" name="register-email" id="register-email">
      </div>
      <div class="form-div">
        <label for="register-password">Password:</label>
        <input type="password" name="register-password" id="register-password">
      </div>
      <div class="form-div">
        <label for="register-password-confirm">Confirm Password:</label>
        <input type="password" name="register-password-confirm" id="register-password-confirm">
      </div>
      <div class="form-div form-div-submit">
        <button type="submit" class="form-btn">create an account</button>
      </div>
    </form>
    <div class="footer">
      <h3>Already a member?</h3>
      <a href="#" onclick="">Create an account now.</a>
    </div>
  </div>
</section>