<section id="homepage" onclick="closeModals('homepage')">
  {{#each posts as |post|}}
    <article>
      <h2>{{post.title}}</h2>
      <span>Posted by {{post.user.name}} on {{format_date post.createdAt}}</span>
      <p>{{post.summary}}</p>
    </article>
  {{/each}}
</section>

<section id="modal-login" class="modal hidden">
  <div class="modal-content">
    <h2>Login</h2>
    <form action="/api/users/login" method="post">
      <div class="form-div">
        <label for="loginEmail">Email:</label>
        <input type="email" name="loginEmail" id="loginEmail">
      </div>
      <div class="form-div">
        <label for="loginPassword">Password:</label>
        <input type="password" name="loginPassword" id="loginPassword">
      </div>
      <div class="form-div form-div-submit">
        <button type="submit" class="form-btn">login</button>
      </div>
    </form>
    <div class="footer">
      <h3>Not a member yet?</h3>
      <a href="#" onclick="openModal('modal-signup', 'homepage', 'modal-login')">Create an account now.</a>
    </div>
  </div>
</section>

<section id="modal-signup" class="modal hidden">
  <div class="modal-content">
    <h2>Register</h2>
    <form action="/api/users" method="post">
      <div class="form-div">
        <label for="registerUsername">Username:</label>
        <input type="text" name="registerUsername" id="registerUsername">
      </div>
      <div class="form-div">
        <label for="registerEmail">Email:</label>
        <input type="email" name="registerEmail" id="registerEmail">
      </div>
      <div class="form-div">
        <label for="registerPassword">Password:</label>
        <input type="password" name="registerPassword" id="registerPassword">
      </div>
      <div class="form-div form-div-submit">
        <button type="submit" class="form-btn">create an account</button>
      </div>
    </form>
    <div class="footer">
      <h3>Already a member?</h3>
      <a href="#" onclick="openModal('modal-login', 'homepage', 'modal-signup')">Create an account now.</a>
    </div>
  </div>
  <!-- Page specific frontend scripts -->
  <script src="/js/script.js"></script>
</section>