/* Styling Variables */
:root {
  --color-primary: #89AD6D;
  --color-on-primary: #0D0F11;
  --color-secondary: #1CB9B3;
  --color-on-secondary: #FFFFFF;
  --color-bg: #F7F8F9;
  --color-bg-variant: #FFF;
  --border-radius: .25rem;
}

/* Page wide styles */
* {
  font-family: "Montserrat", serif;
  scroll-behavior: smooth;
}

html {
  border: 1px solid blue;
  padding: .5rem;
  background-color: var(--color-bg);
}

/* Nav Styles */
header {
  width: 100%;
  height: 3rem;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

header img {
  margin: 0 .5rem;
  justify-self: flex-start;
  height: 3rem;
}

h1 {
  width: 25rem;
  font-size: xx-large;
  margin: 0 .5rem;
}

nav {
  width: 90%;
  font-size: x-large;
}

nav div {
  display: flex;
  justify-content: end;
}

nav a {
  padding: 0 1rem;
}

/* Homepage Styles */
main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

#homepage {
  display: grid;
  width: 100%;
  position: relative;
  top: 4rem;
  grid-template-columns: 100%;
  gap: 1rem;
}

article {
  padding: .5rem;
  width: 100%;
  height: fit-content;
  background-color: var(--color-bg-variant);
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

h2 {
  width: 100%;
  display: inline;
  font-size: x-large;
  text-transform: uppercase;
  font-weight: 600;
}

article span {
  float: right;
}

/* Modal Sytles */
.modal {
  position: fixed;
  top: 50%;
  z-index: 99;
  background-color: var(--color-bg-variant);
  border-radius: var(--border-radius);
}

/* Login/Register Styles */
#login-page {
  margin-top: 1rem;
  display: grid;
  width: 100%;
  grid-template-columns: 49% 49%;
  gap: 1rem;
}

.login {
  padding: .25rem .5rem;
 
  

  border: 1px solid red;
}

.login h2 {
 
  
}

form {
 
  position: relative;
  top: .5rem;
}

/* View Post/Comment Styles */

/* Edit/New Post Styles */

/* Responsive Styles */
@media screen and (max-width: 719px) {
  header {
    justify-content: center;
  }

  h1 {
    width: fit-content;
  }

  nav {
    position: absolute;
    top: 3rem;
    width: 100%;
  }

  nav div {
    justify-content: center;
  }

  main {
    position: relative;
    top: 4rem;
  }
}

/* Hide HTML Elements */
.hidden {
  display: none;
}

/* Darken Background Content for Modals */
.darken {
  opacity: 0.2;
}